.container
  .two
    %h2.secondary-heading Submit an Idea
    = render :partial => 'form', :locals => { :idea => @idea }
  .one.last
    %h3.tertiary-heading What Should I Submit?
    %p
      Before the big event, we're gathering the community's ideas for apps, tools,
      events, anything that will promote getting around in Balitmore.
    %p
      Ideas that help make it easier to get around in any form of transportatation
      are useful, even if the benefit is indirect. A project started a few years ago that allowed
      bus commuters to rate their satisfaction with different bus lines online is an excellent example
