<div class="container">
  <div class="two">
    <h2 class="primary-heading">Schedule</h2>

    <h3 class="secondary-heading">Friday</h3>

    <div class="schedule">
      <dl>
        <dt>6:00pm</dt>
        <dd>Doors Open for Registration and Networking</dd>
        <dt>7:00pm</dt>
        <dd>Official Kick-off and Welcome from Mayor Rawlings-Blake</dd>
        <dt>7:15pm</dt>
        <dd>Lightning talks from 10 transiteers</dd>
        <dt>8:00pm</dt>
        <dd>Pitches Start</dd>
        <dt>9:00pm</dt>
        <dd>Teams are formed and projects are started.</dd>
        <dt>11:59pm</dt>
        <dd>Doors Close</dd>
      </dl>
    </div>

    <h3 class="secondary-heading">Saturday</h3>
    <p>This day is all about building, developing, designing, writing, marketing surveys, etc.</p>
    <div class="schedule">
      <dl>
        <dt>9:00am</dt>
        <dd>Doors Open, breakfast &amp; coffee will be served.</dd>
        <dt>12:00pm</dt>
        <dd>Lunch (provided) and Status Call for Help (15 mins)</dd>
        <dt>12:30pm</dt>
        <dd>(Optional Breakaway Workshops) API Demos, Idea Formation, etc.</dd>
        <dt>7:00pm</dt>
        <dd>Dinner (Provided)</dd>
        <dt>11:59pm</dt>
        <dd>Doors Close</dd>
      </dl>
    </div>

    <h3 class="secondary-heading">Sunday</h3>
    <p>Time to put on the finishing touches on the project and prep for demo presentations.</p>
    <div class="schedule">
      <dl>
        <dt>9:00am</dt>
        <dd>Doors Open, breakfast &amp; coffee will be served.</dd>
        <dt>12:00pm</dt>
        <dd>Lunch (Provided) and Quick Group Check-in (15 mins)</dd>
        <dt>2:00pm</dt>
        <dd>Sunday Presentation of all projects</dd>
        <dt>5:00pm</dt>
        <dd>Reception at Woodberry Kitchen, graciously sponsored by Bill Struever</dd>
      </dl>
    </div>
  </div>

  <div class="one last">
    <h2 class="primary-heading">Location</h2>

    <p>The entire event will be taking place at:</p>

    <address>
      <pre>
<span class="bold">Betamore</span> (<%= link_to 'directions', 'http://www.google.com/url?q=http%3A%2F%2Fbmo.re%2Fbetamoreparking&sa=D&sntz=1&usg=AFQjCNHbhHhw6-kS62NV3vDlIt3dg6d9DQ' %>)
1111 Light Street
4th Floor
Baltimore, MD 21230
      </pre>
    </address>

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1111+light+st+baltimore&amp;ie=UTF8&amp;hq=&amp;hnear=1111+Light+St,+Baltimore,+Maryland+21230&amp;gl=us&amp;ll=39.276629,-76.612272&amp;spn=0.004734,0.010139&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe>
  </div>
</div>
