.container
  .two
    %h2.primary-heading Schedule
    %h3.secondary-heading Friday
    .schedule
      %dl
        %dt 6:00pm
        %dd Doors Open for Registration and Networking
        %dt 7:00pm
        %dd Official Kick-off and Welcome from Mayor Rawlings-Blake
        %dt 7:15pm
        %dd Lightning talks from 10 transiteers
        %dt 8:00pm
        %dd Pitches Start
        %dt 9:00pm
        %dd Teams are formed and projects are started.
        %dt 11:59pm
        %dd Doors Close
    %h3.secondary-heading Saturday
    %p This day is all about building, developing, designing, writing, marketing surveys, etc.
    .schedule
      %dl
        %dt 9:00am
        %dd Doors Open, breakfast &amp; coffee will be served.
        %dt 12:00pm
        %dd Lunch (provided) and Status Call for Help (15 mins)
        %dt 12:30pm
        %dd (Optional Breakaway Workshops) API Demos, Idea Formation, etc.
        %dt 7:00pm
        %dd Dinner (Provided)
        %dt 11:59pm
        %dd Doors Close
    %h3.secondary-heading Sunday
    %p Time to put on the finishing touches on the project and prep for demo presentations.
    .schedule
      %dl
        %dt 9:00am
        %dd Doors Open, breakfast &amp; coffee will be served.
        %dt 12:00pm
        %dd Lunch (Provided) and Quick Group Check-in (15 mins)
        %dt 2:00pm
        %dd Sunday Presentation of all projects
        %dt 5:00pm
        %dd Reception at Woodberry Kitchen, graciously sponsored by Bill Struever
  .one.last
    %h2.primary-heading Location
    %p The entire event will be taking place at:
    %address
    %pre
      %span.bold Betamore
      (#{link_to 'directions', 'http://www.google.com/url?q=http%3A%2F%2Fbmo.re%2Fbetamoreparking&sa=D&sntz=1&usg=AFQjCNHbhHhw6-kS62NV3vDlIt3dg6d9DQ'})
      1111 Light Street
      4th Floor
      Baltimore, MD 21230
    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?q=1111+light+st+baltimore&amp;ie=UTF8&amp;hq=&amp;hnear=1111+Light+St,+Baltimore,+Maryland+21230&amp;gl=us&amp;ll=39.276629,-76.612272&amp;spn=0.004734,0.010139&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near", :width => "425"}
