@import "global";

#footer {
  text-align: center;
  margin-bottom: 200px;
  padding-top: 50px;
  font-size: 0.8em;
  color: lighten($primary_color, 30%);

  a { color: lighten($primary_color, 30%); }
  a:hover { color: $highlight_color; }
}

.ftw-logo img {
  margin-bottom: -1px;
}
