@import "global";
@import "compass/css3";

form {
  #error_explanation {
    h2 { display: none; }
    li {
      color: $error_color;
      font-size: 0.9em;
      margin-bottom: 5px;
    }
    ul { margin-bottom: 15px; }
  }

  li {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;

      &[for="user_remember_me"] {
        display: inline;
      }
    }

    input, textarea {
      @include box-sizing(border-box);
      margin-top: 0;
      width: 100%;
      padding: 10px 15px;
      font-size: 1.1em;
      border: $primary_color 2px solid;

      &:focus {
        outline: none;
        border: $highlight_color 2px solid;
      }
    }

    input[type='radio'], input[type='checkbox'] {
      width: auto;
    }

    textarea {
      max-width: 100%;
      height: 200px;
    }

    .avatar {
      img { margin-right: 1.0em; float: left; display: block; }
      a { font-size: 0.9em; float: right; line-height: 47px; display: block; }
    }

    .tooltip {
      font-size: 0.7em;
      color: lighten($primary_color, 40%);
      a { color: lighten($primary_color, 40%); }
      a:hover { color: $highlight_color; }
    }

    .submit {
      border: $primary_color 2px solid;
      background: $primary_color;
      color: $inverse_primary_color;

      &:hover {
        border: $highlight_color 2px solid;
        background: $highlight_color;
        cursor: pointer;
      }
    }
  }
}
